.article-page {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.add-bookmark {
  display: flex;
  background-color: #09357b;
  width: 200px;
  color: white;
}

.article__left {
  width: 70%;
}

.article__right {
  width: 30%;
}

.article-image {
  width: 100%;
}

.add-bottom-tab {
  background-color: #388e3c;
}

.remove-bottom-tab {
  background-color: #d32f2f;
}

.remove-bottom-tab,
.add-bottom-tab {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 20;
}
