.top-homepage {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.top-homepage__left {
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  font-family: Georgia;
}

.top-homepage__right {
  display: flex;
}

.selector {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  width: 17.708vw;
  height: 30px;
  margin-left: 1.875vw;
}

.top-news {
  margin-top: 13px;
}

.sport-news {
  margin-top: 34px;
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  font-family: Georgia;
}

.top-news__upper-left {
  margin-top: 13px;
  display: grid;
  height: 29.375vw;
  width: 37.5vw;
}

.top-news__upper-right {
  margin-top: 20px;
}

.large-size {
  min-width: 270px;
  min-height: 270px;
  height: 29.375vw;
  width: 37.5vw;
}

.small-size {
  min-width: 150px;
  min-height: 170px;
  height: 17.708vw;
  width: 17.708vw;
}

.card-no-image {
  min-width: 150px;
  min-height: 80px;
  height: 9.583vw;
  width: 17.708vw;
}

.top-news__lower,
.sport-news-content {
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 30px;
}

.medium-size {
  max-height: 24.306vw;
  max-width: 24.306vw;
  min-width: 200px;
  min-height: 200px;
}

@media only screen and (min-width: 769px) {
  .top-news__upper {
    justify-content: space-between;
    display: flex;
  }
  .top-news__upper-right {
    margin-top: 13px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .top-news__lower,
  .sport-news-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  /* mobile phone */

  .top-news__upper-left {
    display: block;
  }

  .top-news__upper-right,
  .top-news__lower,
  .sport-news {
    justify-content: center;
    display: grid;
  }

  .top-news__upper-right {
    margin-top: calc(300px - 30vw);
  }
  .content-homepage {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .small-size,
  .card-no-image {
    margin-top: 10px;
  }
}
