.top-search {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.top-search__left {
  font-weight: bold;
  font-size: 28px;
  font-family: Georgia;
}

.top-search__right {
  display: flex;
  justify-content: center;
}

.search-content {
  margin-top: 13px;
  display: grid;
  grid-gap: 30px;
}

.medium-size {
  max-width: 24.306vw;
  min-width: 200px;
  min-height: 250px;
  max-height: 500px;
}

@media only screen and (min-width: 768px) {
  .search-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  /* mobile phone */
  .search-content {
    justify-content: center;
  }
}
