.header {
  background-color: #09357b;
  padding: 0 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  /* position: fixed;
  width: 100%; */
}

.header-logo {
  display: grid;
}
.header-logo:hover {
  cursor: pointer;
}

.searching-off {
  background-color: #09357b;
}

.searching-on {
  background-color: #2153a3;
}

.search-icon:hover {
  cursor: pointer;
}
