.header {
  background-color: #09357b;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.header-search {
  margin-right: 100px;
  border-bottom: white 1px solid;
}

.header-logo {
  display: grid;
}
.header-logo:hover {
  cursor: pointer;
}

.search-query {
  border: none;
  background-color: transparent;
  color: white;
  outline-width: 0;
}

.searching-on {
  background-color: #2153a3;
}

.search-icon:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 0.4;
}
