.header {
  background-color: #09357b;
  width: 100%;
  height: 84px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo {
  display: grid;
  margin-left: 11.6vw;
}
.header-logo:hover {
  cursor: pointer;
}

.logo-top {
  font-size: 20px;
  line-height: 0px;
  padding-left: 23px;
}

.logo-bottom {
  font-size: 35px;
  line-height: 32px;
}

.searching-on {
  background-color: #2153a3;
}

.header-search {
  margin-right: 11.5vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.search-icon-area {
  padding: 8px 2.639vw 10px 2.639vw;
  border-bottom: solid white 2px;
}

.search-query {
  border: none;
  background-color: transparent;
  color: white;
  outline-width: 0;
  background-color: #2153a3;
  padding-left: 1.875vw;
  border-bottom: solid white 2px;
}

.search-icon {
  height: 17px;
}

.search-icon:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 0.4;
}
