.bookmark-tab {
  background-color: #09357b;
  color: white;
  width: 13vw;
  padding: 0.5vw 0.833vw;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: calc(8px + 0.5vw);
  display: flex;
}

.bookmark-tab:hover {
  cursor: pointer;
}

.view-bookmark {
  margin-left: 0.7vw;
}

@media only screen and (max-width: 768px) {
  /* mobile phone */
}
