* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  min-height: 100vh;
}

main {
  padding: 0 11.5vw;
  margin-top: 30px;
  padding-bottom: 11rem;
  /* margin-bottom: 200px; */
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-family: Georgia;
  font-style: Bold;
}

h1 {
  font-size: calc(5vw - 8px);
}

h2 {
  font-size: calc(4vw - 8px);
}

@media only screen and (max-width: 768px) {
  /* mobile phone */
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 4vw;
  }
}
