* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  min-height: 100vh;
}

main {
  padding: 0 11.5vw;
  padding-bottom: 8rem;
  /* margin-bottom: 200px; */
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
